/* color palette from <https://github.com/vuejs/theme> */
:root {
    --white: #ffffff;

    --gray: #f4f4f4;
    --gray-dark: #e7e7e7;

    --black: #3f3f3f;

    --green-light: #75b798;

    --primary: #0d6efd;
    --secondary: #676d73;
    --success: #198754;
    --danger: #dc3545;

    --border-radius: 5rem;
    --border-color: #bbbbbb;
}

/* semantic color variables for this project */
:root {
    --color-background: var(--gray);

    --color-background-primary: var(--white);
    --color-background-secondary: var(--gray-dark);

    --color-text: var(--black);
    --color-text-hover: var(--green-light);
    --color-text-secondary: var(--white);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--success);
}

@media (hover: hover) {
    a:hover {
        color: var(--color-text-hover);
    }
}
