@import './base.css';

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;

    font-weight: normal;
}

.rounded {
    border-radius: var(--border-radius);
}

.wrapper {
    background-color: var(--color-background-secondary);
    border-radius: var(--border-radius);
}

.text--secondary {
    color: var(--black-light);
}

.app__button {
    color: var(--color-text-secondary);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    width: 10rem;
}

.button--success {
    background-color: var(--success);
}

.button--secondary {
    background-color: var(--secondary);
}

.button--danger {
    background-color: var(--danger);
}

@media (hover: hover) {
    .app__button:hover {
        opacity: 0.8;
    }
}

@media (min-width: 1024px) {
}
